<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ISS Tracker</title>
    <link rel="stylesheet" href="static/style.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
</head>

<body>
    <ul>
        <li>{{data.time}}</li>
        <li>{{data.latitude}}</li>
        <li>{{data.longitude}}</li>
    </ul>
    <ul>
        {%for ast in astronauts_data.people%}
        <li>{{ast.name}} : {{ast.craft}}</li>
        {%endfor%}
    </ul>
    <div id="map" data-latitude="{{data.latitude}}" data-longitude="{{data.longitude}}"></div>
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script src="static/script.js"></script>

</body>

</html>